{% extends 'User/UserBase.html.twig' %}

{% block title %}Paramètres{% endblock %}

{% block content %}
    <H1>Business Settings</H1>
    <p>Ici vous pouvez gérer les paramètres de votre entreprise.</p>
{% endblock %}