{% extends 'admin/base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    {% for user in users %}
        <span class="user">
            <span>{{ user.username }}</span>
            <span>{{ user.email }}</span>
            <span>{{ user.roles|json_encode }}</span>
            <span>{{user.isVerified ? 'Verified' : 'Not verified'}}</span>
        </span><br>
    {% endfor %}
{% endblock %}
