{% extends 'Admin/base.html.twig' %}

{% form_theme form 'tailwind_2_layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
    {{form(form) }}
{% endblock %}