{% extends 'base.html.twig' %}

{% block title %}les familles!{% endblock %}

{% block body %}

<div class="card-container">
    {% for item in items %}
        {# /* From Uiverse.io by Smit-Prajapati */  #}
        <div class="card">
            <button class="mail">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="#434343">
                    <path d="m48.67-246.67 16.66-66.66h206l-16.66 66.66h-206Zm80-160 16.66-66.66h246l-16.66 66.66h-246Zm624.33 260 4.67-33.33L777-340l24.33-200 14-113L753-146.67ZM220.67-80q-27 0-44.5-19.83-17.5-19.84-17.5-46.84H753L815.33-653h-130l-11 88.33q-2 14.34-12.66 23.17-10.67 8.83-25 8.17Q623-534 614.5-544.17 606-554.33 608-568l10.33-85h-173l-11 88q-2 14.33-12.66 23.33-10.67 9-25 8.34-13.67-.67-22.34-11-8.66-10.34-6.66-24L378-653H221.33q3.34-28.67 23.34-47.83 20-19.17 48-19.17H386l1.33-6.67q8.67-73 52.17-113.16Q483-880 556-880q62 0 101.83 48.17Q697.67-783.67 692-720h127.33q28 .33 46.67 21.33t15 49L818.33-143q-3.33 27.33-23.5 45.17Q774.67-80 747.33-80H220.67Zm232-640h173q3.66-37-19.17-65.17-22.83-28.16-58.5-28.16-40.33 0-64.83 22.83T454-726.67l-1.33 6.67Z"/>
                </svg>
            </button>
            {# zone image #}
            <div class="profile-pic">
                <img src="{{ item.thumbnail }}" alt="profile-pic">
            </div>
            {# zone description #}
            <div class="bottom">
                <div class="content">
                    <span class="name">{{item.name}}</span>
                    <span class="about-me">Lorem ipsum dolor sit amet consectetur adipisicinFcls </span>
                </div>
            <div class="bottom-bottom">
                <div class="social-links-container">
                    <span class="name">
                        {{item.price}}<i class="fa fa-coins"></i>
                    </span>
                    <span class="name">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#434343">
                                <path d="M765-144 526-383q-30 22-65.79 34.5-35.79 12.5-76.18 12.5Q284-336 214-406t-70-170q0-100 70-170t170-70q100 0 170 70t70 170.03q0 40.39-12.5 76.18Q599-464 577-434l239 239-51 51ZM384-408q70 0 119-49t49-119q0-70-49-119t-119-49q-70 0-119 49t-49 119q0 70 49 119t119 49Z"/>
                            </svg>
                        </a>
                    </span>
                </div>
                <a class="button" href="{{ path('user_cart_add', {'id': item.id}) }}">
                    <svg xmlns="http://www.w3.org/2000/svg" height="12" viewBox="0 -960 960 960" width="12" fill="#434343">
                        <path d="M444-288h72v-156h156v-72H516v-156h-72v156H288v72h156v156Zm36.28 192Q401-96 331-126t-122.5-82.5Q156-261 126-330.96t-30-149.5Q96-560 126-629.5q30-69.5 82.5-122T330.96-834q69.96-30 149.5-30t149.04 30q69.5 30 122 82.5T834-629.28q30 69.73 30 149Q864-401 834-331t-82.5 122.5Q699-156 629.28-126q-69.73 30-149 30Zm-.28-72q130 0 221-91t91-221q0-130-91-221t-221-91q-130 0-221 91t-91 221q0 130 91 221t221 91Zm0-312Z"/>
                    </svg>
                </a>
            </div>
            </div>
        </div>
    {% endfor %} 
</div>

{% endblock %}


