<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Invitation à rejoindre notre plateforme</title>
</head>
<body>
    <p>Bonjour,</p>
    <p>Veuillez cliquer sur le lien suivant pour compléter votre inscription :</p>
    <p><a href="{{ url }}">Compléter l'inscription</a></p>
    <p>Ce lien expirera dans 2 jours.</p>
</body>
</html>