{% extends 'base.html.twig' %}

{% block title %}Choisissez votre plan{% endblock %}

{% block body %}
<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">Choisissez votre plan</h1>
    <table class="min-w-full bg-white">
        <thead>
            <tr>
                <th class="py-2 px-4 border-b">Plan</th>
                <th class="py-2 px-4 border-b">Prix</th>
                <th class="py-2 px-4 border-b">Description</th>
                <th class="py-2 px-4 border-b">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="py-2 px-4 border-b">Plan Gratuit</td>
                <td class="py-2 px-4 border-b">0€</td>
                <td class="py-2 px-4 border-b">Accès limité aux fonctionnalités de base.</td>
                <td class="py-2 px-4 border-b">
                    <a href="{{ path('user_plan_confirm', {'choice': 'free'}) }}" class="text-blue-500 hover:text-blue-700">Choisir</a>
                </td>
            </tr>
            <tr>
                <td class="py-2 px-4 border-b">Plan Standard</td>
                <td class="py-2 px-4 border-b">10€/mois</td>
                <td class="py-2 px-4 border-b">Accès à toutes les fonctionnalités standard.</td>
                <td class="py-2 px-4 border-b">
                    <a href="{{ path('user_plan_confirm', {'choice': 'premium'}) }}" class="text-blue-500 hover:text-blue-700">Choisir</a>
                </td>
            </tr>
            <tr>
                <td class="py-2 px-4 border-b">Plan business</td>
                <td class="py-2 px-4 border-b">20€/mois</td>
                <td class="py-2 px-4 border-b">Accès à toutes les fonctionnalités premium avec support prioritaire.</td>
                <td class="py-2 px-4 border-b">
                    <a href="{{ path('user_plan_confirm', {'choice': 'business'}) }}" class="text-blue-500 hover:text-blue-700">Choisir</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}