{% extends 'base.html.twig' %}

{% block title %}Mon pannier{% endblock %}

{% block body %}
    {{cart.value}}

    <table>
        <thead>
            <tr>
                <th>Famille</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
            {% for famille in cart.famillies %}
                <tr>
                    <td>{{ famille.name }}</td>
                    <td>{{ famille.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_cart_checkout') }}">Valider mon panier</a>

{% endblock %}
