<nav class="flex bg-slate-800 ">
    <h1 class="text-white p-4">Admin Panel</h1>
    <ul class="flex-initial w-64">
        <li class="p-4">
            <a href="{{ path('admin.home') }}" class="text-white">Home</a>
        </li>

    </ul>
</nav>