<div class="min-w-fit">
    
    	<div class="sidebar inline-block p-4 bg-gray-600" :class="{'hide-nav': sidebarOpen}">
		<div class="sidebar__head">
			
		</div>
		
		<ul class="nav sidebar__nav text-lg">
			<li class="nav-item flex">
				<div class="nav-item__icon">{{ ux_icon('openmoji:teapot') }}</div>
				<div class="nav-item__text text-3xl">Dashboard</div>
			</li>
		</ul>

		
	</div>

</div>