  <div class="flex justify-between">
        <span>Status:</span>
        <span>S3 - Planning</span>
    </div>
    <div class="flex justify-between border-b py-1">
        <span>Client:</span>
        <div class="text-right">
            <div>Client Name 1</div>
            <div>Client Name 2</div>
        </div>
    </div>
    <div class="flex justify-between border-b py-1">
        <span>Project:</span>
        <div class="text-right">
            <div>Project Name 1</div>
            <div>Project Name 2</div>
        </div>
    </div>
    <div class="flex justify-between border-b py-1">
        <span>Title:</span>
        <div class="text-right">
            <div>Drawing Title 1</div>
            <div>Drawing Title 2</div>
        </div>
    </div>
    <div class="flex justify-between border-b py-1">
        <span>Revision:</span>
        <span>XX</span>
    </div>
    <div class="flex justify-between border-b py-1">
        <span>Drawn By:</span>
        <span>XX</span>
    </div>
    <div class="flex justify-between border-b py-1">
        <span>Approved By:</span>
        <span>XX</span>
    </div>
    <div class="flex justify-between border-b py-1">
        <span>Date:</span>
        <span>01.02.23</span>
    </div>
    <div class="flex justify-between border-b py-1">
        <span>Job No.:</span>
        <span>2023-XX</span>
    </div>

    <div class="mt-8 text-sm border-t pt-4">
    </div>