        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{{path('public_asset_index')}}">Familles</a></li>
                <li><a href="{{path('user_cart_index')}}">Panier</a></li>
            </ul>
        </nav>